body {
    font-family: 'Poppins', sans-serif;
    background: #f4f7fb;
    color: #333;
    margin: 0;
    padding: 0;
}
#topright{
    display: flexbox;
    padding-right:100px;
    background-color:white;
    display:flex;
    gap:100px;
    float:inline-end;
}
header {
    text-align: center;
    background: #4f46e5;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
}

form {
    max-width: 800px;
    background: white;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 25px;
}

h2 {
    color: #4f46e5;
    margin-bottom: 10px;
    font-size: 22px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: 500;
}

select,
input[type="radio"] {
    margin-top: 6px;
}

select {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #3730a3;
}

#result {
    max-width: 800px;
    margin: 20px auto;
    background: #e0e7ff;
    border-left: 6px solid #4f46e5;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    display: none;
}